# Ignore everything
*
# But descend into directories
!*/

# # Recursively allow files under:
# "mu-plugins", "plugins", "themes" directory
!/wp-content/themes/**

# ignore this file
wp-content/themes/index.php

# ignore specific themes
wp-content/themes/madeinwhitby/

# ignore log files and databases
*.log
*.sql
*.sqlite
*.DS_Store

# Include cPanel GitHub config
!.cpanel.yml

# don't ignore this file
!.gitignore